# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
/staticfiles/
media/
staticfiles/
*.log

# Virtual environment
myenv/
env/
venv/
.venv/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Project history
.history/

